.container {
    background-color: hsl(0, 0, 10%);
}

#myVideo {
		  position: absolute;
		  right: 0;
		  bottom: 0;
		  min-width: 100%; 
		  min-height: 100%;
		  z-index:1;
		}

body {
	position: absolute;
    font-family: Consolas, 'Courier New', monospace;
	z-index:2;
}

#page-1 {
    padding: 2em;
	z-index:2
}

#page-2 {
    padding: 2em;
	z-index:2
}

.iframe {
    width: 100%;
    height: 75vh;
    border-radius: .5em;
	z-index:2
}

#navbar {
    border-radius: 1em;
	z-index:2
}

.sticky-top {
    top: 1em;
	z-index:2
}