.container {
    background-color: hsl(0, 0, 10%);
}

#myVideo {
		  position: absolute;
		  right: 0;
		  bottom: 0;
		  min-width: 100%; 
		  min-height: 100%;
		  z-index:1;
		}

body {
    font-family: Consolas, 'Courier New', monospace;
	margin: 0; 
	padding: 0;
}

h1 {
	color: aqua;
}

#page-1 {
    padding: 2em;
	
}

.homepage {
	z-index: 2;
}

.iframe {
    width: 100%;
    height: 65vh;
	
}

#navbar {
    border-radius: 1em;
	
}

.sticky-top {
    top: 1em;
	
}